// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "partials/variables";


// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Dashboard Menu
@import "partials/menu_dashboard"
