.background_form {
    height: 645px;
    padding-top: 50px;
    background-image: url(../img/background_image.jpg);
    background-position: center;
    .card_title {
        background-color: $transparent;
    }
    .card_head {
        color: $black;
        border-bottom: none;
        text-align: center;
        font-size: 26px;
        font-family: "Inter", sans-serif;
        font-weight: 700;
    }
    .form_log {
        font-family: "Inter", sans-serif;
        font-weight: 400;
    }
    .title_input {
        width: 70%;
        margin: auto;
    }
    .input_value {
        width: 70%;
        margin: auto;
    }
    .button_log {
        border-radius: 50px;
        border: none;
        width: 80px;
        height: 40px;
        background-color: $button;
        color: $white;
        &:hover {
            background-color: $buttonhover;
        }
    }
    .button_link {
        border-radius: 50px;
        margin-top: 20px;
        border: none;
        width: 250px;
        height: 40px;
        background-color: $button;
        color: $white;
        &:hover {
            background-color: $buttonhover;
        }
    }

    .link {
        color: $darkorange;
    }
}

.background_form_reg {
    padding-bottom: 50px;
    padding-top: 50px;
    background-image: url(../img/background_image.jpg);
    background-position: center;
    .card_title {
        background-color: $transparent;
    }
    .card_head {
        color: $black;
        border-bottom: none;
        text-align: center;
        font-size: 26px;
        font-family: "Inter", sans-serif;
        font-weight: 700;
    }
    .form_log {
        font-family: "Inter", sans-serif;
        font-weight: 400;
    }
    .title_input {
        width: 70%;
        margin: auto;
    }
    .input_value {
        width: 70%;
        margin: auto;
    }
    .button_reg {
        border-radius: 50px;
        border: none;
        width: 100px;
        height: 40px;
        background-color: $button;
        color: $white;
        &:hover {
            background-color: $buttonhover;
        }
    }
}

/* Responsive */

@media (max-width: 320px) {
    .title_input {
        width: 90%;
        margin: auto;
    }

    .input_value {
        width: 90%;
        margin: auto;
    }
}
