.link_adv {
    text-decoration: none;
    color: $darkazure;
    padding: 0.2rem 1rem;
    background-color: $input;
    border: 1px solid $border;
    font-weight: 600;
    font-size: 13px;
    font-family: inter;
    border-radius: 50px;
}
.search_bar {
    width: 250px;
    height: 40px;
    border-radius: 50px;
    background-color: $input;
    border: 1px solid $border;
    input:focus {
        box-shadow: none;
    }
    .search {
        border-radius: 50px;
        border: none;
        transition: none;
        background-color: rgb(0 0 0 / 0%);
    }
    .search_icon {
        color: $white;
        background-color: $darkazure;
        padding: 1rem 0.5rem;
        border-radius: 100px;
        margin-right: 5px;
        cursor: pointer;
    }
}
