.cont_sponsor {
    font-family: "Inter";
    .card_sponsor {
        height: 400px;
        &:hover {
            box-shadow: 5px 10px 15px $border;
        }
        .title_sponsor {
            font-weight: bold;
            color: $buttonhover;
        }
        .desc_sponsor {
            font-weight: bold;
            color: $menu;
        }
        .sponsor_name {
            color: $teal;
            font-weight: bold;
        }
        .price {
            height: 80px;
            font-size: 20px;
            font-weight: bold;
            color: $menu;
        }
        .time {
            height: 100px;
            font-size: 18px;
            font-weight: bold;
            color: $menu;
        }
        .btn-orange {
            background-color: $buttonhover;
        }
    }
}
